<div class="container" >
  <div class="pagecontainer">
    <div class="page-header">
        <h3>Reset Password</h3>
    </div>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    <p>{{ result }}</p>
    <form [formGroup]="inputForm" (ngSubmit)="resetUserPassword(inputForm.value)" class="form-content" novalidate autocomplete="off" autocorrect="off" autocapitalize="none" spellcheck="false">
      <div formGroupName="passwordGroup" [ngClass]="{'has-error': inputForm.get('passwordGroup').errors }">
          
        <div [ngClass]="{'has-error': inputForm.get('passwordGroup.password').invalid && inputForm.get('passwordGroup.password').dirty}">
            <div class="wrap-input100 validate-input m-b-15">
                <span class="label-input100">Password <sup>*</sup> :</span>
                <input class="input100" type="password" [appDisableControl]="this.loading == true" id="password" [formControl]="password" placeholder="Password" autofocus>
                <span class="focus-input100" data-symbol="&#xf190;"></span>
            </div>
            <div class="text-danger input-warning"  *ngIf="inputForm.get('passwordGroup.password').dirty && inputForm.get('passwordGroup.password').errors">
                <span *ngIf="inputForm.get('passwordGroup.password').errors.required">
                    Please enter password
                </span>
                <span *ngIf="inputForm.get('passwordGroup.password').errors.pattern">
                    Password must be minimum 6 and maximum 20 characters AND contain at least one letter, number & special characters
                </span>
            </div>
            <!-- <label for="password">Password <sup>*</sup> :</label>
            <div class="gform">
                <input type="password" [appDisableControl]="this.loading == true" id="password" [formControl]="password" placeholder="Password">
                <div class="text-danger input-warning"  *ngIf="inputForm.get('passwordGroup.password').dirty && inputForm.get('passwordGroup.password').errors">
                    <span *ngIf="inputForm.get('passwordGroup.password').errors.required">
                        Please enter password
                    </span>
                    <span *ngIf="inputForm.get('passwordGroup.password').errors.pattern">
                        Password must be minimum 6 and maximum 20 characters AND contain at least one letter, number & special characters
                    </span>
                </div>
            </div> -->
            
        </div>
        <div [ngClass]="{'has-error': inputForm.get('passwordGroup.retypepass').invalid && inputForm.get('passwordGroup.retypepass').dirty}">
            <div class="wrap-input100 validate-input m-b-15">
                <span class="label-input100">Retype Password <sup>*</sup> :</span>
                <input class="input100" type="password" [appDisableControl]="this.loading == true" id="retypepass" [formControl]="retypepass" placeholder="Retype Password">
                <span class="focus-input100" data-symbol="&#xf190;"></span>
            </div>
            <div class="text-danger input-warning" *ngIf="(inputForm.get('passwordGroup.retypepass').touched || inputForm.get('passwordGroup.retypepass').dirty) && (inputForm.get('passwordGroup.retypepass').errors || inputForm.get('passwordGroup').errors)">
                <span *ngIf="inputForm.get('passwordGroup.retypepass').errors?.required">
                    Please confirm your password
                </span>
                <span *ngIf="inputForm.get('passwordGroup').errors?.mismatchedPassword">
                    Password do not match
                </span>
            </div>
            <!-- <label for="retypepass">Retype Password <sup>*</sup> :</label>
            <div class="gform">
                <input type="password" [appDisableControl]="this.loading == true" id="retypepass" [formControl]="retypepass" placeholder="Retype Password">
                <div class="text-danger input-warning" *ngIf="(inputForm.get('passwordGroup.retypepass').touched || inputForm.get('passwordGroup.retypepass').dirty) && (inputForm.get('passwordGroup.retypepass').errors || inputForm.get('passwordGroup').errors)">
                    <span *ngIf="inputForm.get('passwordGroup.retypepass').errors?.required">
                        Please confirm your password
                    </span>
                    <span *ngIf="inputForm.get('passwordGroup').errors?.mismatchedPassword">
                        Password do not match
                    </span>
                </div>
            </div> -->
        </div>
  
      </div>
      <div>               
          <button type="submit" [disabled]="inputForm.invalid || this.loading == true" class="btn btn-primary">Submit</button>
          <button type="reset" [disabled]="this.loading == true" class="btn btn-secondary" style="margin-right:5px">Reset</button>
      </div>
    </form>
  </div>
</div>