ol, ul {
	list-style: none;
	padding:0px;
	margin:0px;
}
#wrap {
	margin: 0 auto;
}

.inner {
	margin: 0 auto;
	max-width: 1480px;
	padding: 0 20px;
}

.homecontent {
    width: 100%;
    padding: 0px;
}

.fixed {
	position: fixed;
}

.relative {
	position: relative;
}

.right {
	float: right;
}

.left {
	float: left;
}

/* HEADER */
#wrap > header {
	background-color: #09273a;
    /* padding-bottom: 20px; */
    height: 50px;
} 
header {
	position: fixed;
	width: 100%;
	z-index: 1000;
	/* height: 50px; */
}

.logo {
	display: inline-block;
	font-size: 0;
    padding-top:1px;
}
.logo img {
    width: 47px;
    height:50px;
    border: 0;
}
#navigation {
	position: absolute;
	right: 40px;
	bottom: 7px;
}

#menu-toggle {
	display: none;
	float: right;
}

/* HEADER > MENU */
#main-menu {
	float: right;
	font-size: 0;
    margin: 0px 0;
}

#main-menu > li {
	display: inline-block;
	margin-left: 20px;
    padding: 2px 0;
}

#main-menu > li.parent {
	background-image: url(assets/images/plus-gray.png);
	background-size: 7px 7px;
	background-repeat: no-repeat;
	background-position: left center;
}

#main-menu > li.parent > a {
	padding-left: 8px;
}

#main-menu > li > a {
	color:#f2f4df;
	font-size: 13px;
	line-height: 10px;
	padding: 8px 0;
	text-decoration:none;
}

#main-menu > li > a.active {
	color: #FFF9C4 !important;
}

#main-menu > li:hover > a,
#main-menu > li.current-menu-item > a {
	color: #FFF9C4;
}

/* HEADER > MENU > DROPDOWN */
#main-menu li {
	position: relative;
}

ul.sub-menu { /* level 2 */
	display: none;
	right: -40px;
    top: 23px;
	/* padding-top: 10px; */
	position: absolute;
	width: 150px;
	/* z-index: 9999; */
}

ul.sub-menu ul.sub-menu { /* level 3+ */
	margin-top: -1px;
	padding-top: 0;
	left: 149px;
	top: 0px;
}

ul.sub-menu > li > a {
	background-color: #09273a;
	border: 1px solid #f2f4df;
	border-top: none;
	color: #f2f4df;
	display: block;
	font-size: 12px;
	line-height: 12px;
	padding: 10px 12px;
}

ul.sub-menu > li > a.active {
	color: #FFF9C4 !important;
}

ul.sub-menu > li > a:hover {
	background-color: #002977; 
	color: #FFF9C4;
}

ul.sub-menu > li.current-menu-item > a {
	color: #FFF9C4;
}

ul.sub-menu > li:first-child {
	border-top: 2px solid #f2f4df;
}

ul.sub-menu ul.sub-menu > li:first-child {
	border-top: 1px solid #f2f4df;
}

ul.sub-menu > li:last-child > a {
	border-radius: 0 0 2px 2px;
}

ul.sub-menu > li > a.parent {
	background-image: url(assets/images/arrow.png);
	background-size: 5px 9px;
	background-repeat: no-repeat;
	background-position: 95% center;
}

#main-menu li:hover > ul.sub-menu {
	display: block; /* show the submenu */
}

@media all and (max-width: 837px) {	
	header {
		position: absolute;
	}
	#navigation {
		position: static;
		margin-top: 10px;
		bottom: 0px;
	}

	#menu-toggle {
		display: inline-block;
        padding: 10px 0;
        color: #FFF9C4
	}

	#main-menu {
		display: none;
		float: none;
	}

	#main-menu li {
		display: block;
		margin: 0;
		padding: 0;
	}

	#main-menu > li {
		margin-top: -1px;
	}

	#main-menu > li:first-child {
		margin-top: 0;
	}

	#main-menu > li > a {
		background-color: #09273a;
		border: 1px solid #f2f4df;
		color: #f2f4df;
		display: block;
		font-size: 12px;
		padding: 12px !important;
		padding: 0;
	}

	#main-menu li > a:hover {
		background-color: #002977; 
	}

	#main-menu > li.parent {
		background: none !important;
		padding: 0;
	}

	#main-menu > li > a.active {
		color: #FFF9C4 !important;
	}

	#main-menu > li:hover > a,
	#main-menu > li.current-menu-item > a {
		border: 1px solid #f2f4df !important;
		color: #FFF9C4 !important;
	}

	ul.sub-menu {
		display: block;
		margin-top: -1px;
		margin-left: 20px;
		position: static;
		padding: 0;
		width: inherit;
	}

	ul.sub-menu > li:first-child {
		border-top: 1px solid #f2f4df !important;
	}

	ul.sub-menu > li > a.parent {
		background: #09273a !important;
	}
}