<div class="modal-header" style="text-align: center; background-color:#09273a;color:#fffefe">
  <h4 class="col-12 modal-title text-center">{{ title }}
    <button type="button" class="close pull-right" aria-label="Close" (click)="decline()">
      <span aria-hidden="true" style="color:#fffefe">&times;</span>
    </button>
  </h4>
</div>
<div class="modal-body text-center">
    <p> {{ data.message }}</p>
    <!-- Form to take input Remarks -->
    <form [formGroup]="inputForm" (ngSubmit)="confirm(inputForm.value)" novalidate autocomplete="off" autocorrect="off" autocapitalize="none" spellcheck="false">
      <div *ngIf="isRemarks" class="form-group">
        <label for="remarks">Please input remarks: </label>
        <textarea #inputRemarksRef 
                    class="form-control"
                    rows="5"
                    [appDisableControl]="this.loading == true" 
                    id="remarks" 
                    [formControl]="remarks" 
                    placeholder="Remarks...">
        </textarea>
      </div>
      <div>
        <!-- Search Form to take input Search Text -->
        <button type="submit" class="btn btn-default">Yes</button>
        <button type="button" class="btn btn-primary" (click)="decline()">No</button>
      </div>
    </form>
</div>