/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootswatch/dist/flatly/bootstrap.min.css';
@import '~toastr/build/toastr.css';
@import '~ngx-bootstrap/datepicker/bs-datepicker.css';
@import '~font-awesome/css/font-awesome.css';
@import 'fonts/font-awesome-4.7.0/css/font-awesome.min.css';
@import 'fonts/iconic/css/material-design-iconic-font.min.css';
@import 'vendor/css/style.css';
@import 'vendor/css/main.css';

@font-face {
  font-family: Poppins-Regular;
  src: url('fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('fonts/poppins/Poppins-SemiBold.ttf'); 
}

html {
    position: relative;
    min-height: 100%;
  }

body {
	background-color: #eee;
  color: #666;
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	padding:0px;
	margin-bottom: 60px;
}

html, body {
    width: 100%;
    overflow-x: hidden;
    /* font-family: Poppins-Regular, sans-serif; */
 }

 .pagecontainer {
    max-width: 940px;
    padding: 15px;
    margin: 50px auto;
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  .container .text-muted {
    margin: 20px 0;
    color: #fce86c;
  }
  
  code {
    font-size: 80%;
  }
  
  .form-signin {
      max-width: 330px;
      padding: 15px;
      margin: 10% auto;
  }

  .form-content {
    max-width: 948px;
    padding: 15px;
    background:#fffefe;
    border-radius:3px;
    margin: 2% auto;
   }

  .input-warning {
    margin-top:-8px; 
    margin-bottom:10px
  }
   .form-content label {
        font-weight: bold;
        margin-bottom: 1px;
   }
  .gform input[type="text"],
  .gform input[type="password"],
  .gform input[type="date"],
  .gform input[type="datetime"],
  .gform input[type="email"],
  .gform input[type="number"],
  .gform input[type="search"],
  .gform input[type="time"],
  .gform input[type="url"],
  .gform textarea,
  .gform select 
  {
      -webkit-transition: all 0.30s ease-in-out;
      -moz-transition: all 0.30s ease-in-out;
      -ms-transition: all 0.30s ease-in-out;
      -o-transition: all 0.30s ease-in-out;
      outline: none;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 100%;
      height: 30px;
      background: #f6e6ff;
      margin-bottom: 13px;
      border: 1px solid #ccc;
      border-radius: 0 3px 3px 0;
      padding: 1%;
      color: #555;
      font: 100% Lato, sans-serif;
      box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
      -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
      -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
  }
  .gform input[type="text"]:focus,
  .gform input[type="password"]:focus,
  .gform input[type="date"]:focus,
  .gform input[type="datetime"]:focus,
  .gform input[type="email"]:focus,
  .gform input[type="number"]:focus,
  .gform input[type="search"]:focus,
  .gform input[type="time"]:focus,
  .gform input[type="url"]:focus,
  .gform textarea:focus,
  .gform select:focus
  {
      box-shadow: 1px 1px 8px #FFF9C4;
      padding: 1%;
      border: 3px solid #FFF9C4;
  }

  .form-ele{
    border: 1px solid #ddd;
    background: #f5f5f5;
    padding: 6px 8px 6px 8px;
    border-radius: 0 3px 3px 0;
    margin-bottom: 13px;
    cursor: not-allowed;
    min-height: 33px;
  }
  
  .form-ele:empty:before{
    content: 'No data to display';
    color: #cccccc;
  }
  
  .pagination {
      float: right;
  }
  
  .pagination > li > a {
    color: #fffefe !important;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #030303;
      font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
  }
  
  .footer > .container {
    /* padding-top: -3px; */
    padding-right: 15px;
    padding-left: 15px;
    /* padding-bottom: 5px; */
  }
  
  .btn-primary {
    color:#FFF9C4;
    background:#14487a; 
    font-weight: bold;
    margin-right: 5px;
  }
  
  .btn-primary:hover {
    color:#f2f4df;
    background-color:#09273a;
  }
  
  .btn-file {
    position: relative;
    overflow: hidden;
  }
  .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }
  
  .md-dialog-container {
    position: flex !important;
    left: 20%;
    top: 10%;
    background-color: white;
    z-index: 100000;
  }
  
  .md-progressbar-container {
    position: flex !important;
    padding: 0 0 5px 5px;
    height:10px;
    white-space:nowrap; 
  }
  
  .panel-info > .panel-heading {
    background-image: none;
    background-color: #fce86c;
    color:#333;
    border-color:#333; 
  }
  
  .panel-info {
    color:#333;
    border-color:#333;
  }
  
  .panel-default {
    border: none;
    box-shadow: none;
    background: #eee;
  }
  
  .panel-default > .panel-heading {
    background-image: none;
    background-color: #eee;
    color:#333;
    border-color:#333;
  }
  
  table {
    border-collapse: collapse;
    border-radius: 6px;
    overflow: hidden;
  }

  .table {
    border: 1px solid  #09273a;
    width: 100%;
  }

  .table > thead {
    background-color: #09273a;
    color: #fffefe;
  }

  .table > thead > tr > th {
    border-bottom: 1px solid  #fffefe;
  }

  .table > thead > tr > th > a {
    outline: none !important;
    cursor: pointer;
    text-decoration: underline !important;
  }

  .table > thead > tr > th > a:hover {
    color: #FFF9C4 !important;
  }

  .table > tbody > tr > td {
    border-bottom: 2px solid  #eee;
    padding: 1%;
    background-color: #fffefe;
  }

  .table > tbody > tr:hover > td {
    background-color: #FFF9C4;
  }

.text-action {
    text-align: center;
}
  .thumbviewsize {
    width:200px;
    height:250px !important;
  }
  
  .thumbpadding {
    padding:0 0 0 10px;
  }
  
  .selectfontsize {
    font-size: 12px;
  }
  
  .paddingsearch {
    padding:5px 0;
  }
  
  .rowmarginsearch {
    margin-bottom: 4px;
  }
  
  a.borderless {
    border-top: 0 none;
  }
  a.bordersideless {
    border-left: 0 none;
    border-right: 0 none;
  }
  
  .toast-top-right {
    top: 55px;
    right: 2%;
  }

  /* loading indicator area Css */
  .loading-indicator {
    display: block;
    width: 90%;
    height: 100%;
    left: 5%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.1);
    cursor: wait;
    z-index: 99999;
    pointer-events: all;
  }

  /* Spinner Css */
  .lds-dual-ring {
    display: block;
    width: 90%;
    height: 100%;
    position: fixed;
    top: 10%;
    left: 5%;
    background-color: rgba(0, 0, 0, 0.1);
    cursor: wait;
    z-index: 99999;
    pointer-events: all;
  }
  
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    top: 70%;
    left: 50%;
    position: fixed;
    border-radius: 50%;
    border: 5px solid #ff3333;
    border-color: #ff3333 transparent #ff3333 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
    
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .loadingprocess {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: wait;
    z-index: 99999;
    pointer-events: all;
  }

  .info-centered {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .info-centered.h100 {
      height: 100vh;
      width: 100%;
  }

  iframe {
      overflow:hidden!;
  }

  .sizer {
      width: 1200px;
      height: 800px;
  }
  .lh1 {
    line-height: 1em;
  }

  .lh1p5 {
      line-height: 1.5em;
  }

.nav-item > .nav-link {
  color:#666;
  font-size: 12px !important;
}

.nav-item > .nav-link.active  {
  color: #00baff !important;
}

.nav-tabs {
  border-bottom: 1px solid rgb(228, 226, 226);
}

.card-body a {
  outline: none !important;
  color: #1483c7;
  cursor: pointer;
}

.card-body a:hover {
  color: #09273a;
}

.stars-container {
  position: relative;
  display: inline-block;
  color: transparent;
  font-size: 17px;
  /* min-height: 40px; */
 }

.stars-container:before{
  position: absolute;
  top: 5%;
  left: 0;
  content: '★★★★★';
  color:lightgray;
}

.stars-container:after {
  position: absolute;
  top: 5%;
  left: 0;
  content: '★★★★★';
  color: rgb(255, 81, 0);
  overflow: hidden;
  height: 22px;
}

.stars-0:after { width: 0%; }
.stars-10:after { width: 10%; }
.stars-20:after { width: 20%; }
.stars-30:after { width: 30%; }
.stars-40:after { width: 40%; }
.stars-50:after { width: 50%; }
.stars-60:after { width: 60%; }
.stars-70:after { width: 70%; }
.stars-80:after { width: 80%; }
.stars-90:after { width: 90%; }
.stars-100:after { width: 100%;}

.searchtext input[type=text] {
  float: left;
  width: 80%;
  margin-right: 5px;
}

/* Style the submit button */
.searchtext button {
    float: left;
    width: 15%;
    padding: 3px;
    font-size: 20px;
    border-radius: 2px;
    /* border: 1px solid grey; */
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

.searchtext button:hover {
    background: #bfc0c0;
  }
  
/* Clear floats */
.searchtext::after {
    content: "";
    clear: both;
    display: table;
}

  @media screen and (max-width: 800px) {
    
  
    .table {
      border: none;
      border-radius: 0;
    }
  
    .table caption {
      font-size: 1.3em;
    }
    
    .table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 0;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    .table tr {
      border-top:1px solid #333;
      border-left: 1px solid #333;
      border-right: 1px solid #333;
      border-bottom: 1px solid #333;
      display: block;
      margin-bottom: .325em;
    }
    
    .table td {
        
      border-bottom: 1px solid #D4D0D0;
      display: block;
      font-size: 1.0em;
      text-align: right;
    }
    
    .table td::before {
      
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    .table td:last-child {
      border-bottom: 5px solid #333;
    }

    .text-action {
        text-align: right;
    }
  }
  
  hr.line-grey-center {
    border: 0;
    height: 3px;
    background-color: #333;
    width: 60%;}