.grid {
    display: grid;
}
.autofill {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.autofit {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.profilecard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    padding-top: 5px;
    padding-block-end: 5px;
    margin-bottom: 25px;
}

.profilecontent {
    width: 250px;
    text-align: center;
    padding-left: 10px;
    padding-right: 5px;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}